.flex{
    display: flex;
    align-items: center;
    margin: 0.75rem;
    width:35rem;
    /* min-width: 30rem; */
}
label{
    margin-right: 2rem;
    font-weight: 700;
    width:10rem; 
    /* min-width: 15rem; */
}

.input{
    background-color: rgb(255, 255, 255);    
}
input{
    border: 0 solid ;
    padding-inline: .5rem;
    border-radius: 5px;
    height: 35px;
    width:25rem;
    color: black;
    font-size: 15px;
}